<mat-card class="example-card">
  <mat-card-content>
    <h2 class="question">Question 1</h2>

    <section class="options">
      <mat-radio-group formControlName="floatLabel">
        <mat-radio-button value="1" class="option">Option 1</mat-radio-button><br>
        <mat-radio-button value="2" class="option">Option 2</mat-radio-button><br>
        <mat-radio-button value="3" class="option">Option 3</mat-radio-button><br>
        <mat-radio-button value="4" class="option">Option 4</mat-radio-button><br>

      </mat-radio-group>
    </section>
  </mat-card-content>
</mat-card>